@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url('fonts/general_enclosed_foundicons.eot');
  src: url('fonts/general_enclosed_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/general_enclosed_foundicons.woff') format('woff'),
       url('fonts/general_enclosed_foundicons.ttf') format('truetype'),
       url('fonts/general_enclosed_foundicons.svg#[general_enclosedFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  /*height: auto;
  vertical-align: baseline;*/
  font-size: 23px;
  vertical-align: middle;
  line-height: inherit;
  
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
.foundicon-remove
{
font-size: 14px;
  vertical-align: middle;
  line-height: inherit;
  display: inline;
  width: auto;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;	
}
 
[class*="foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.foundicon-plus:before {
  content: "\f003";
}
.foundicon-remove:before {
  content: "\f006";
}
.foundicon-up-arrow:before {
  content: "\f016";
}

.foundicon-down-arrow:before {
  content: "\f017";
}

.foundicon-trash:before {
  content: "\f018";
}
html
{
	background-size: 100%;
}
body
{	
	/*8background-color: #2E2C2C;*/
	background-image:url(D:/Ramesh/webpages/sky.jpg);
}
#a
{

	margin: auto;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	background-color: rgb(235,235,235);
	height: 70px;
	width: 800px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 20px;

}
label
{
	margin: auto;
	

}
.error
{
	margin: auto;
	
	height: 36px;
	background-color:rgb(235,235,235);
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
}


#delete1
{
	
	/*margin: auto;
	width: 30px;
	height: 32px;*/
	
	float: right;
	padding-right: 0px;
	background-color: rgba(0,0,0,0);
	border : 0px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

#msg
{
	color: rgb(210,80,80);
	margin-right: 491px;
	font-size: 19px;
	padding-top: 8px;
	padding-left: 83px;
	text-align: left;
	float: left;


}
#button1 {

  position: relative;
}

label
{
	font-size: 25px;
}

.show .error
{   
	width:830px;
	visibility:visible;
  	opacity: 1;
  	transition: opacity 0.4s linear;
}

.hide .error 
{ 
	margin-top: -18px;
	visibility: hidden;
  	opacity: 0;
  	width:830px;
  	height: 1px;
  	transition: margin-top 0s 2s;
  	transition: visibility 0s 1s;
}
.show ,.hide
{
	overflow: hidden;
}

#a1
{
	margin: auto;
	text-align: center;
}

#name
{
	margin: auto;
	margin-left: 20px;
	height: 25px;
}

#author
{
	margin: auto;
	margin-left: 20px;
	height: 25px;
}

#price
{
	margin: auto;
	margin-left: 20px;
	height: 25px;
}

#add
{	
	/*background:url(result.png);
	background-position: -6px -4px;*/
	margin: auto;
	
	height: 29px;
	border:0px;
	background-color: rgba(0,0,0,0);
	border-radius: 27px;
	padding-bottom: 7px;	
}

#addc
{
	width: auto;
	margin-left: 11px;
	height: 48px;
}

#delete
{
	/*background:url(result.png);
	background-position: -10px -55px;*/
	background-color: rgba(0,0,0,0);
	height: 29px;
	border:0px;
	border-radius: 22px;
	padding-bottom: 7px;
	margin-left: 9px;
	
}
#up
{
	padding-bottom: 7px;
	/*background:url(result.png);
	background-position: -6px 36px;*/
	height: 29px;
	background-color: rgba(0,0,0,0);
	border:0px;
	border-radius: 27px;
	margin-left: -2px;
	
}
#down
{
	padding-bottom: 7px;
	/*background:url(result.png);
	background-position: -110px -117px;*/
	background-color: rgba(0,0,0,0);
	height: 29px;
	border:0px;
	border-radius: 27px;
	margin-left: -2px;
}
input
{
	margin:auto;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	margin-left: 30px;
}
#b
{
	background-color: rgb(235,235,235);
	margin: auto;
	height: 400px;
	margin-top: 1%;
	border-radius: 5px;
	width: 828px;
	overflow: auto;

}
#c
{
	padding-top: 3%;

}

#lic
{
	margin: auto;
		list-style-type: none;
		display: none;
}
#cl
{
	margin:auto;
	list-style-type: none;
}
.cartdiv
{
	padding-top: 10px;
	display: inline-block;
}
#c2
{
	margin: auto;
	
	display: inline-block;
	

}
.cl
{
	list-style-type: none;
}@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-remove, .icon-arrow-up, .icon-arrow-down, .icon-plus {
	font-family: 'icomoon';
	speak: none;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cancel-circle{
	font-family: 'icomoon';
	speak: none;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

	}
.icon-remove:before {
	content: "\e003";
}
.icon-arrow-up:before {
	content: "\e000";
}
.icon-arrow-down:before {
	content: "\e002";
}
.icon-plus:before{
	content: "\e001";
}
.icon-cancel-circle:before{
	content: "\e004"
}

html
{
	background-size: 100%;
}
body
{	
	background-color: #2E2C2C;
	/*background-image:url(D:/Ramesh/webpages/sky.jpg);*/
}
#a
{

	margin: auto;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	background-color: rgb(235,235,235);
	height: 70px;
	width: 800px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 20px;

}
label
{
	margin: auto;
	

}
.error
{
	margin: auto;
	
	height: 36px;
	background-color:rgb(235,235,235);
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
}


#delete1
{
	
	/*margin: auto;
	width: 30px;
	height: 32px;*/
	
	float: right;
	padding-right: 0px;
	background-color: rgba(0,0,0,0);
	border : 0px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}

#msg
{
	color: rgb(210,80,80);
	margin-right: 491px;
	font-size: 19px;
	padding-top: 8px;
	padding-left: 83px;
	text-align: left;
	float: left;

}
#button1 {

  position: relative;
}

label
{
	font-size: 25px;
}

.show .error
{   
	width:830px;
	visibility:visible;
  	opacity: 1;
  	transition: opacity 1s linear;
}

.hide .error
{ 
	margin-top: -18px;
	visibility: hidden;
  	opacity: 0;
  	width:830px;
  	height: 1px;

  	transition: visibility 0s 1s opacity 1s linear;
}

#a1
{
	margin: auto;
	text-align: center;
}

#name
{
	margin: auto;
	margin-left: 10px;
	height: 25px;
}

#author
{
	margin: auto;
	margin-left: 20px;
	height: 25px;
}

#price
{
	margin: auto;
	margin-left: 20px;
	height: 25px;
}

.move
{
	padding-right: 0px;
padding-left: 0px;
margin-left: 14px;
	height: 29px;
	border:0px;
	background-color: rgba(0,0,0,0);
}

input
{
	/*margin:auto;
	margin-left: 35px;
	height: 25px;*/
	border-radius: 5px;
	text-align: center;
	
}
#b
{
	background-color: rgb(235,235,235);
	margin: auto;
	height: 400px;
	margin-top: 1%;
	border-radius: 5px;
	width: 828px;
	overflow: auto;

}
#c
{
	padding-top: 3%;

}

#lic
{
	margin: auto;
		list-style-type: none;
		display: none;
}
#cl
{
	margin:auto;
	list-style-type: none;
}
.cartdiv
{
	padding-top: 10px;
	display: inline-block;
}
#c2
{
	margin: auto;
	
	display: inline-block;
	

}
.cl
{
	list-style-type: none;
}